@import "_azVariables";
@import "_azFontAwesome";

#landing_page-atom-builder {
  .ui-dialog {
    width: 535px;
  }
}

// Select atom View block
#az-page-select-atom {
  border-radius: 8px;
  margin-bottom: 0;
  border: 2px solid $color-border;

  h2 {
    font-size: 120%;
  }

  .title-container {
    background-color: $color-controls-wrapper;
    border-radius-topleft: 10px;
    border-radius-topright: 10px;
    margin: 0;
  }

  .close-button {
    position: absolute;
    padding: .4em;
    background: #a0a0a0;
    right: 15px;
    &:hover {
      background-color: $color-button;
    }
  }

  .page-content {
    background-color: $color-controls;
    position: absolute;
    top: 45px;
    bottom: 3px;
    right: 0;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      background-color: $color-controls;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-controls-wrapper;
      -webkit-border-radius: 5px;
    }
  }

  table {
    th {
      &.views-field-field-atomic-number,
      &.views-field-field__p {
        text-align: right;
      }
    }

    td {
      background-color: $color-controls;
      font-size: 14px;
      padding: 1px;
      &.is-active {
        background: $color-active;
      }
      &.views-field-field-atomic-number,
      &.views-field-field__p {
        text-align: center;
      }
    }

    tbody {
      border: 0;
    }
  }
}


body#landing_page-atom-builder {
  .ui-widget-overlay {
//  background: none;
  }
}
