@import "azVariables";

body.page-node-type-atomizer {
  div.main-wrapper {
    main.outer-wrapper {
      padding: 15px 15px 10px;
    }
  }
  article.atomizer {
    .node__links {
      display: none;
    }
  }
}

.field--name-field-atomic-structure {
  .az-canvas-wrapper {
    overflow: hidden;
//  border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
    canvas {
      margin-bottom: -10px;
    }
  }
}

.embedded-entity {
  .type-atomizer {
    h2 {
      display: none;
    }
  }
}

.az-atomizer-wrapper {
  &.az-fullscreen {
    background-color: $color-background;
    width: 100%;
    height: 100%;
  }
}

.az-wrapper {
  position: relative;
//@include clearfix;
  width: 100%;

  outline: none;
}

.az-wrapper {
  &.az-overlay-controls {
    .az-canvas-wrapper {
      width: 100%;
    }
  }

  &.az-float-controls {
    .az-canvas-wrapper {
      width: calc(100% - 460px);
    }
  }
}

.az-canvas-wrapper,
.block-atomizer-viewer {

  display: inline-block;
  width: 100%;
//display: block;
  canvas {
//  border-radius: 10px;
  }


  > div {
    width: 100%;
    canvas {
      width: 100%;
    }
  }
}

article.az-atomizer {
  &.align-left {
    margin-right: 20px;
  }
  &.align-right {
    margin-left: 20px;
  }
  article,
  canvas {
    width: 100%;
    margin: 0;
  }
  article.node {
    margin-bottom: 0;
  }
  h2 {
    display: none;
  }
  figcaption {
    width: 100%;
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
  }
  .az-canvas-wrapper {
    width: 100%;
  }
}

.az-atom-viewer-small {
  width: 40%;
  max-width: 450px;
}
