
$color-controls: #305;
$color-controls-wrapper: lighten($color-controls, 20%);
$color-active: lighten(#102e4a,15%);
$color-purple: #53C;
$color-purple-red: #A682ff;
$color-border: #7fffb0;
$color-white: #faf0ff;
$color-link: #7fffB0;
$color-background: #102E4A;

$color-grey-dark: #282a2c;
$color-grey-light: #999;
$color-grey-lighter: #ccc;

$color-button: #5887ff;
$color-button-selected: #00ddff;
$color-button-hover: #00bbdd;
$color-button-inactive: #bda;
$color-label: #E0ff49;

$color-popup: #fff9ec;
$color-text: #555;

$page-margin-mobile: calc(30 / 320 * 100%);
$page-margin-tablet: calc(30 / 580 * 100%);
$page-margin-desktop: calc(30 / 960 * 100%);
$page-margin-widescreen: calc(30 / 1280 * 100%);

@mixin page-margins {

  @include media(max-width $bp320only) {
    margin-right: calc(30 / 320 * 100%);
    margin-left: calc(30 / 320 * 100%);
  } // $bp320only

  @include media(max-width $bp580only) {
    margin-right: calc(30 / 580 * 100%);
    margin-left: calc(30 / 580 * 100%);
  } // $bp580only

  @include media(max-width $bp960only) {
    margin-right: calc(30 / 960 * 100%);
    margin-left: calc(30 / 960 * 100%);
  } // $bp960only

  @include media(max-width $bp1280) {
    margin-right: calc(30 / 1280 * 100%);
    margin-left: calc(30 / 1280 * 100%);
  } // $bp1280

} // mixin page-margins
