@import "variables";

// Atom Builder Controls form
.block-atomizer-controls {
  #hidden-nuclet {
    position: fixed;
    padding: 5px;
    background: $color-nuclet-edit;
    border: solid 2px $color-border;
    border-radius: 8px;
    .form-item {
      margin: 0;
    }
    .az-name {
      font-weight: normal;
    }
    .az-slider {
      width: 43%;
    }
    .az-value {
      background: inherit;
    }
    label {
      margin: 0;
    }
    #edit-nuclet-grow-0,
    #edit-nuclet-grow-1 {
      label {
        margin: 0 10px 0 5px;
      }
      .nuclet-list-button {
        margin: 1px 0px;
        padding: 1px 5px;
        background: $color-button;
        color: white;
        border-radius: 6px;
      }
    }
  }
}
